

.header {
    background-color: #4d7c8a;
    padding: 20px;
    text-align: center;
    font-size: large;
    color: #ffffff;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #7f9c96;
  display: flex;
}





ul.nav li a {
  display: block;
  color: white;
  padding: 14px 30px;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: #4d7c8a;
  color: white;
}

ul.nav li a:hover:not(.active) {
  background-color: #1b4079;
}


.columnOne {
    float: left;
    width: 50%;
    background-color: #8fad88;
}

.columnTwo {
    float: right;
    width: 50%;
    background-color: #cbdf90;
}

.Home-Img {
    width: 400px;
    height: auto;
    display: block;
    transform: rotate(-90deg);
    max-width: 100%;
    text-align: center;
    border: #cbdf90 solid 50px  ;

}

.Bagel, .Frankie, .Duncan {
    background-color: #8fad88;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.Frankie {
    background-color: #cbdf90;

}

.Bagel-img, .Frankie-img, .Duncan-img {
   width: 50px;
   height: auto;
   display: block;
  max-width: 100%;
  border: #cbdf90 solid 50px;
}

.Frankie-img {
    background-color: #8fad88;
}

.Family-Img {
  background-image: url('');
  background-size: cover;     
  background-position: center;
  width: 100%;
  height: 300px;
}