

.header {
    background-color: #4d7c8a;
    padding: 20px;
    text-align: center;
    font-size: large;
    color: #ffffff;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #7f9c96;
  display: flex;
}

ul.nav li a {
  display: block;
  color: white;
  padding: 14px 30px;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: #4d7c8a;
  color: white;
}

ul.nav li a:hover:not(.active) {
  background-color: #1b4079;
}


.columnOne {
    float: left;
    width: 50%;
    background-color: #8fad88;
}

.columnTwo {
    float: right;
    width: 50%;
    background-color: #cbdf90;
}

.ImageOne {
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-90deg);


}

.Bagel, .Frankie, .Duncan {
    background-color: #8fad88;
    width: 75%;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.Frankie {
    background-color: #cbdf90;

}

.Bagel-img, .Frankie-img, .Duncan-img {
    width: 75%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
