

.header {
    background-color: rgba(251, 167, 213, 0.89);
    padding: 20px;
    text-align: center;
    font-size: large;
    color: #ffffff;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #e9a7cd;
  display: flex;
}

ul.nav li a {
  display: block;
  color: white;
  padding: 14px 30px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: #a6519b;
}


.columnOne {
    float: left;
    width: 50%;
    background-color: rgb(202, 106, 164);
}

.columnTwo {
    float: right;
    width: 50%;
    background-color: #ffffff;
}

